# --- Cấu hình API ---
APP_PORT=8000
AUTH_TOKEN=your_secret_token_here

# --- Cấu hình Database ---
POSTGRES_USER=your_db_user_here
POSTGRES_PASSWORD=your_db_password_here
POSTGRES_DB=iotdb

# --- Thông tin nhóm đối tác (Điền IP mạng LAN khi lên lớp demo) ---
CORE_SERVICE_URL=http://<IP_MAY_NHOM_CORE>:8000
ANALYTICS_SERVICE_URL=http://<IP_MAY_NHOM_ANALYTICS>:8000

# --- Thông tin kết nối MQTT HiveMQ ---
# LƯU Ý: Tuyệt đối không ghi mật khẩu thật vào file example này
MQTT_HOST=f6f78e87db4a4c189dd3d706745a5e93.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=DVKN_IOT_2026
MQTT_PASSWORD=your_mqtt_password_here